doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .header
    |<iframe src="https://player.vimeo.com/video/182932029?autoplay=1&loop=0&title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  
  .about#about
    .container
      
      
      .about__text
        img(src="images/english-boy.png").about__cloud.about__cloud_english
        img(src="images/chinese-boy.png").about__cloud.about__cloud_chinese
        img(src="images/grece-boy.png").about__cloud.about__cloud_grece
        img(src="images/french-girl.png").about__cloud.about__cloud_french
        .about__title
          |TOGETHER WE CAN ALSO 
          |MAKE A DIFFERENCE
        .about__description
          |As a member of the RAPP family, we’d like to invite you to help us start the new year on a 
          |good note. For every vote, 
          span.about__bold-text
            |we’ll donate 100 AED to a charity.
          br 
          span.about__bot-text
            |Which one you might ask? Well, that’s up to you.
      
      .about__items.about-items
        
        img(src="images/k-girl.png").about__cloud.about__cloud_korean
        img(src="images/arabic-girl.png").about__cloud.about__cloud_arabic
        
        .about-items__title
          |Choose your charity and we’ll donate 100 AED
        
        .about-items__inner
          
          .about-items__item
            .about-items__opacity
              .about-items__logo
                img(src="images/manzil-logo.png")
              .about-items__txt
                |A non-profit organisation helping people with disabilities become productive members of society through academic, social and vocational programmes. 
              .about-items__button
                |DONATE
              
          .about-items__item
            .about-items__opacity
              .about-items__logo
                img(src="images/ghaf-logo.png")
              .about-items__txt
                |A planting programme for Ghaf trees – the sturdiest plants of the harsh desert, drought-tolerant, but currently suffering from human encroachment.  
              .about-items__button
                |DONATE
      
      .about__partners
        img(src="images/bottom-image.png")
        
      .about__logo 
        img(src="images/rapp-logo.png")
        
        
